@import "compass/css3";
$colors: 0 50 100 150 200 250 300 350;
*{
    @include box-sizing(border-box);
  }
  body{
    background: #222222;
    color: white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }
  .quadrilateral{
    float: left;
    $i : 1;
    //background-color: blue;
    @each $color in $colors{
      &:nth-child(#{length($colors)}n+#{$i}){
        background-color: hsl($color, 70%, 60%);
      }
      $i : $i +1;
    }
  }
  .percent{
    float:left;
    width: 100%;
    margin-bottom: 15px;
    padding: 0px 5px;
    &.one .quadrilateral{
      width: 16%;
      margin: 0.3%;
    }
    &.two .quadrilateral{
      width: 12%;
      margin: 0.2%;
    }
  }